@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,400&display=swap');

.App {
  text-align: center;
}

.header {
  font-family: 'Merriweather', serif;
  padding: 20px;
}

.header2 {
  border: 3px solid rgb(3, 140, 17);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  margin-bottom: 25px;
  background: rgb(92 151 140 / 19%);
}


.style-btn {
  padding: 14px;
  border-radius: 12px / 20px;
  -webkit-border-radius: 12px / 20px;
  -moz-border-radius: 12px / 20px;
  -ms-border-radius: 12px / 20px;
  -o-border-radius: 12px / 20px;
  text-transform: none;
  background: #3210b6;
  color: rgb(255, 255, 255);
  box-shadow: 0px 2px 9px 3px rgb(16 182 71 / 13%);
}

.container-base {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.content {
  width: 90%;
  margin: 0 auto;
}

.fit {
  width: 350px;
  height: 210px;
  object-fit: cover;
}

.new {
  display: flex;
  justify-content: center;
}

.container {
  border: 1px solid rgba(3, 91, 96, 0.491);
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  font-family: 'Libre Baskerville', serif;
}